@page "/cars"

@attribute [Authorize(Roles = "Admin,User")]

<h5>Please navigate to your desired page</h5>

<a href="/owned-cars" class="btn btn-primary">Owned Cars</a>
<a href="/shared-cars" class="btn btn-primary">Shared Cars</a>
