@page "/add-booking"
@page "/add-booking/{carID:int}"

@attribute [Authorize(Roles = "Admin,User")]
@rendermode InteractiveServer

<h3>Add booking</h3>
<br />

<div class="book-type-selector">
    <button class="btn btn-primary" @onclick="() => { bookByCar = true; bookByDate = false; }">By car</button>
    <button class="btn btn-primary" @onclick="() => { bookByCar = false; bookByDate = true; }">By date</button>
</div>

@if (bookByCar)
{
    <span>By car</span>
}

@if (bookByDate)
{
    <span>By date</span>
}

<span>@message</span>
@code {
    [Parameter]
    public int? CarID { get; set; }

    private string? message;
    private bool bookByCar;
    private bool bookByDate;
    

    protected override void OnParametersSet()
    {
        if (CarID.HasValue)
        {
            message = CarID.ToString();
        }
    }
}
